/*$body-background-color: #8A2BE2;*/
body {
  background-color: #ffffff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }

.col {
  padding: 1rem; }

.col i {
  font-size: 5rem; }

.content {
  background-color: #F5F5DC;
  padding: 2rem 0;
  text-align: center;
  vertical-align: middle; }

header, footer {
  padding-top: 2rem;
  padding-bottom: 2rem; }

header {
  background-color: #ffffff;
  border-bottom: 1rem solid #EE5D1B;
  font-size: 2.0rem;
  font-weight: normal;
  text-transform: none;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem; }

header .header-text {
  text-align: right;
  margin-top: 3rem;
  color: #535353; }

header .container {
  padding-left: 0;
  padding-right: 0; }

header .header-logo {
  text-align: left; }

header .phone-btn {
  margin-top: 1rem;
  text-align: right; }

footer {
  background-color: #2A2A2A;
  border-top: 1rem solid #EE5D1B;
  font-size: 1.4rem;
  color: #8A8A8A;
  text-transform: none;
  text-align: left; }

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 1.7rem; }

footer li a, footer li a:hover {
  color: #8A8A8A; }

footer .accreditations {
  font-style: italic;
  font-weight: normal;
  font-family: Georgia, serif;
  color: #EE5D1B;
  font-size: 2.4rem; }

#hero {
  background-position: center bottom !important;
  background: #333E49 url("http://development.pedowitzgroup.com/rs/939-DNE-315/images/201602-um-lp-hero.jpg") center bottom/cover no-repeat;
  position: relative;
  min-height: 31rem;
  padding-bottom: 1rem;
  text-align: center;
  border-bottom: 1rem solid #EE5D1B;
  /*
    .txt-full{
      position:absolute;
      bottom: 0;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.6);
      width:100%;
      font-size: 3.8rem;
      font-weight: bold;
      padding: 2.5rem;
      color:#084024;
      font-family: Georgia, serif;
    }
  */ }

#hero .txt-form {
  padding: 9rem 0 12rem; }

#hero .hero-txt {
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 3.8rem;
  color: #084024;
  font-weight: bold;
  font-family: Georgia, serif;
  display: table; }

#hero .hero-txt p {
  display: table-cell;
  vertical-align: middle; }

#hero .hero-form {
  background-color: #EE5D1B;
  padding: 3rem; }

.selector {
  background: url("http://development.pedowitzgroup.com/rs/939-DNE-315/images/img_selector.png") top center no-repeat; }

.selector.right {
  background-position: right 25% top; }

.primary-content {
  color: #2A2A2A;
  font-size: 1.8rem;
  line-height: 2rem;
  /*
  .row{
    margin-top: 5rem;
  }
  */ }

.primary-content p span {
  color: #EE5D1B; }

.primary-content h1 {
  color: #EE5D1B;
  font-size: 3.6rem;
  font-weight: bold;
  font-family: Georgia, serif;
  margin-bottom: 2.6rem; }

.primary-content ul {
  margin-top: 2.3rem; }

.primary-content .col-multimedia {
  margin-bottom: 3rem; }

.primary-content .txt-content {
  line-height: 2rem; }

.primary-content .txt-note {
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: light; }

.primary-content .txt-note a, .primary-content .txt-note a:hover {
  color: #2A2A2A;
  text-decoration: underline; }

.primary-content .form-container {
  min-height: 310px;
  padding: 30px; }

.primary-content a.btn-download {
  background-color: #084024;
  font-size: 2rem;
  padding: 13px;
  width: 285px;
  margin: 38px 0px 28px 0px;
  text-align: center;
  border-bottom: 4px solid #2A2A2A;
  color: #ffffff; }

.primary-content a.btn-download:hover, .primary-content a.btn-download:active {
  color: #fff;
  background: #0b5731; }

.secondary-content {
  color: #2A2A2A;
  padding-top: 3rem;
  margin-bottom: 3.8rem; }

.secondary-content .call-advisor {
  padding-top: 3rem;
  font-size: 2.4rem;
  line-height: 3rem; }

.secondary-content .call-advisor span {
  font-weight: bold; }

.secondary-content .secondary-text {
  font-size: 1.4rem;
  font-style: italic; }

.secondary-content .secondary-text span {
  font-size: 1.6rem;
  font-weight: bold;
  font-style: normal; }

.secondary-content .img-profile {
  background-image: url("http://development.pedowitzgroup.com/rs/939-DNE-315/images/img_profile.jpg");
  background-repeat: no-repeat;
  background-position: left;
  height: 118px; }

.secondary-content .twitter-txt {
  background-image: url("http://development.pedowitzgroup.com/rs/939-DNE-315/images/grey-selector.jpg");
  background-repeat: no-repeat;
  background-position: left 20% bottom;
  padding-bottom: 10px; }

.secondary-content .twitter-txt p {
  background-color: #829097;
  color: #ffffff;
  font-size: 18px;
  font-style: italic;
  padding: 25px 25px 25px 25px; }

.secondary-content .twitter-img {
  color: #000000;
  background: url("http://development.pedowitzgroup.com/rs/939-DNE-315/images/img_twitter.jpg") no-repeat left 20% top;
  padding-left: 30%;
  height: 50px;
  padding-top: 15px;
  font-size: 1.8rem;
  margin-top: 2rem; }

.three-columm {
  margin-top: 75px;
  margin-bottom: 75px; }

.three-columm h2 {
  font-size: 2.2rem;
  font-weight: 600; }

.orange {
  color: #EE5D1B; }

.white {
  background-color: #ffffff;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.orange-bk {
  background-color: #EE5D1B;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.no-side-padding {
  padding-left: 0;
  padding-right: 0; }

.bold {
  font-weight: bold; }

@media (max-width: 767px) {
  header .header-text {
    text-align: center; }
  #hero {
    padding-bottom: 0;
    height: auto;
    min-height: auto;
    overflow: hidden; }
  #hero .txt-full {
    position: relative;
    text-align: left;
    height: auto;
    opacity: 0.65;
    padding: 3rem;
    width: 100%;
    margin: 0;
    margin-top: 70px; }
  #hero .hero-txt, #hero .hero-form {
    height: auto;
    margin: 0px;
    padding: 3rem; }
  #hero .hero-txt {
    background-color: #ffffff;
    opacity: 1;
    text-align: left; }
  .selector.right {
    background-position: center top; }
  .primary-content .col-multimedia {
    margin-bottom: 0;
    margin-top: 2rem; }
  .primary-content .btn-download {
    width: 100%; }
  .secondary-content {
    margin-bottom: 2.5rem; }
  .secondary-content .call-advisor {
    padding-bottom: 4.8rem; }
  .secondary-content .img-profile {
    margin-bottom: 2.5rem;
    background-image: url("http://development.pedowitzgroup.com/rs/939-DNE-315/images/img_profile_mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 254px; }
  .secondary-content .twitter-txt {
    background-position: center bottom;
    margin-top: 15px; }
  .secondary-content .twitter-img {
    background-position: center top;
    text-align: center;
    padding-left: 0;
    margin-top: 10px;
    padding-top: 50px;
    margin-bottom: 40px; }
  .three-columm {
    margin-top: 0;
    margin-bottom: 55px; }
  .three-columm .col-xs-12 {
    margin-top: 70px; } }

#hero label, .mktoHtmlText {
  text-align: left !important; }

.form-group {
  margin-bottom: 0; }

.form-control {
  border-radius: 0; }

select {
  background: #dfdfdf !important; }

label {
  color: #fff;
  font-size: 13px;
  text-align: left; }

.mktoButton {
  border-radius: 0;
  background-color: #084024;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  border-bottom: 4px solid #2A2A2A; }

.mktoButton:hover, .mktoButton:active {
  color: #fff;
  background: #0b5731; }

.mktoHtmlText {
  color: #fff;
  font-size: 10px;
  line-height: 1.2; }

.mktoHtmlText a {
  color: #fff;
  text-decoration: underline; }

.mktoFormCol {
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 10px; }

.mktoLabel {
  padding-right: 0px; }

#lpv1 footer {
  border: none; }

#lpv1 header {
  background-color: rgba(0, 0, 0, 0.6);
  border: none; }
  #lpv1 header .header {
    height: 110px; }
  #lpv1 header .header-logo {
    padding-top: 15px; }
  #lpv1 header .header-text {
    color: #ffffff; }
    #lpv1 header .header-text.text-center {
      text-align: center;
      margin-top: 4.5rem;
      font-family: 'georgia',serif;
      font-size: 2.6rem;
      font-weight: 600; }
    #lpv1 header .header-text.text-left {
      text-align: left;
      font-family: 'georgia',serif;
      font-size: 2rem; }
      #lpv1 header .header-text.text-left span {
        font-weight: 600;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  #lpv1 header .selector {
    background: url("../../assets/images/img_selector_v2.png") no-repeat;
    width: 45px;
    height: 30px;
    position: absolute;
    top: 70px;
    left: 40%; }

#lpv1 #hero {
  background-image: url("http://development.pedowitzgroup.com/rs/939-DNE-315/images/201602-um-lp-hero_img2.jpg");
  border: none; }
  #lpv1 #hero .hero-form {
    background-color: #2A2A2A; }
  #lpv1 #hero .txt-form {
    padding-top: 5rem;
    padding-bottom: 3rem; }
  #lpv1 #hero .hero-content {
    padding: 0; }
    #lpv1 #hero .hero-content .hero-title {
      background-color: #2A2A2A;
      font-weight: 600;
      font-size: 3.6rem;
      color: #EE5D1B;
      text-align: left;
      font-family: 'georgia',serif;
      padding: 1.5rem;
      margin-bottom: 15px;
      line-height: 3.8rem; }
    #lpv1 #hero .hero-content .hero-text {
      background-color: #2A2A2A;
      text-align: left;
      color: #ffffff;
      font-size: 1.8rem;
      font-weight: 200;
      padding: 1.5rem;
      line-height: 1.7rem; }
    #lpv1 #hero .hero-content .hero-note {
      margin-top: 95px;
      text-align: left;
      color: #ffffff;
      font-size: 1.4rem;
      line-height: 1.6rem; }
      #lpv1 #hero .hero-content .hero-note a {
        color: #ffffff; }

#lpv1 .primary-content .acc-content {
  padding-top: 50px;
  padding-bottom: 70px; }
  #lpv1 .primary-content .acc-content .call-advisor {
    padding-top: 5.5rem;
    font-size: 2rem;
    line-height: 3rem; }
    #lpv1 .primary-content .acc-content .call-advisor span {
      font-family: 'georgia',serif;
      font-size: 3.2rem;
      font-style: italic;
      color: #000000;
      font-weight: bold; }

#lpv1 .primary-content .twitter-txt {
  background-image: url("http://development.pedowitzgroup.com/rs/939-DNE-315/images/grey-selector.jpg");
  background-repeat: no-repeat;
  background-position: left 15% bottom;
  padding-bottom: 10px; }

#lpv1 .primary-content .twitter-txt p {
  background-color: #829097;
  color: #ffffff;
  font-size: 18px;
  font-style: italic;
  padding: 25px 25px 25px 25px; }

#lpv1 .primary-content .twitter-img {
  color: #000000;
  background: url("http://development.pedowitzgroup.com/rs/939-DNE-315/images/img_twitter.jpg") no-repeat left 15% top;
  padding-left: 25%;
  height: 50px;
  padding-top: 15px;
  font-size: 1.8rem;
  margin-top: 2rem; }

#lpv1 .second-grey {
  background-color: #829097;
  padding-bottom: 30px;
  padding-top: 10px; }
  #lpv1 .second-grey .secondary-content {
    margin-bottom: 0px; }
    #lpv1 .second-grey .secondary-content .img-profile {
      background-position: center;
      background-image: url("http://development.pedowitzgroup.com/rs/939-DNE-315/images/201602-um-lp-img_profile_v2.png"); }

#lpv1 .secondary-content .call-advisor {
  padding-top: 6rem;
  font-size: 2rem; }
  #lpv1 .secondary-content .call-advisor span {
    font-family: 'georgia',serif;
    font-size: 3.2rem;
    font-style: italic; }

#lpv1 .secondary-text {
  color: #ffffff; }

#lpv1 .accreditations .acc-txt {
  color: #EE5D1B;
  font-size: 2.4rem;
  font-style: italic;
  font-family: 'georgia',serif; }

@media (max-width: 767px) {
  #lpv1 #hero {
    background-image: none;
    background-color: #ffffff; }
    #lpv1 #hero header {
      background-color: #005030;
      padding: 2.5rem 3rem; }
      #lpv1 #hero header .selector {
        background-image: url("../../assets/images/img_selector_green.png");
        top: 62px; }
      #lpv1 #hero header .header-logo {
        padding-top: 0px; }
      #lpv1 #hero header .header-text.text-center {
        margin-top: 3.8rem; }
    #lpv1 #hero .hero-content {
      padding: 0px 3rem; }
      #lpv1 #hero .hero-content .hero-title {
        margin-bottom: 3rem; }
      #lpv1 #hero .hero-content .hero-text {
        margin-bottom: 4.5rem; }
  #lpv1 .primary-content .twitter-img {
    background-position: center top;
    text-align: center;
    padding-left: 0;
    margin-top: 10px;
    padding-top: 50px;
    margin-bottom: 40px; }
  #lpv1 .primary-content .twitter-txt {
    background-position: center bottom;
    margin-top: 15px; }
  #lpv1 .mktoButtonRow {
    display: block !important; }
  #lpv1 .mktoButton {
    border-radius: 0;
    background-color: #F17330;
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
    border-bottom: 4px solid #BE3936; }
    #lpv1 .mktoButton:hover, #lpv1 .mktoButton:active {
      color: #fff;
      background: #f38348; }
  #lpv1 .second-grey .secondary-content .img-profile {
    background-image: url("../../assets/images/img_profile_mob_v2.png"); } }
